body {
    background-color: #031b24;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
 

  }
.flex-container {
    display: flex;
    flex-direction: column;    
}
.flex {
    padding: 10px;
}
.flex > flex-col-1 {
    flex-basis: 1;
}
.flex > flex-col-2 {
    flex-basis: 8;
}
.flex > flex-col-3 {
    flex-basis: 1;
}
.grid-container {
    display: grid;
    grid-template-columns: 900px 300px;
    grid-template-rows: 200px 1fr 100px 100px;
    background-color: #052c3b;
   
}
.grid-item {
}
.header {
    grid-row: 1 / 1;
    grid-column: 1 / span 2;
    padding: 10px;
}   
.content {
    grid-row: 2 / 2;
    padding: 10px;
}
.portfolio {
    grid-row: 3  / 3;
    grid-column: 1 / span 2;
}
.skills {
    grid-row: 2 / 2;
    grid-column: 2 / span 1;
    padding: 10px;
}
.footer {
    grid-row: 4 / 4;
    grid-column: 1 / span 2
}

.jobList {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 16px;
 font-style: normal;
}
.jobList > #jobTitle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
